@import '../../styles/breakpoints';
@import '../../styles/colors';
@import '../../styles/fonts';

.single-aircraft {
    width: 100%;
    max-height: 100vh;

    .single-aircraft-header {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 30px;
        background-color: rgb(246, 246, 246);
        border-bottom: 1px solid rgb(207, 207, 207);
        gap: 5px;

        .page-subtitle {
            font-family: $primary-font;
            color: $textfield-text-color;
            font-weight: normal;
        }
    }

    .single-aircraft-content {
        width: 100%;
        min-height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
        padding: 30px 30px 0 30px;
        position: relative;
        padding-bottom: 20px;

        &::-webkit-scrollbar {
            display: none;
        }

        .single-aircraft-hero {
            width: 100%;
            height: 300px;
            // border: 1px solid rgb(205, 205, 205);
            // box-shadow: 0 0 10px rgba(133, 133, 133, 0.2);

            .single-aircraft-spline {

            }
        }

        .section1 {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $text-field-color;
            padding-bottom: 10px;
            margin-top: 20px;
    
            .section1-left {
    
                .lable {
                    color: $black;
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 20px;
                }
    
                .sub-lable {
                    color: $textfield-text-color;
                    font-family: $primary-font;
                    font-weight: normal;
                }
            }
    
            .section1-right {
    
                .save-button {
                    background-color: $black;
                    color: $white;
                    border-radius: 0.25rem;
                    padding: 10px 30px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    font-family: $primary-font;
                    font-size: 13px;
                    margin-right: 10px;
                }

                .delete-button {
                    background-color: rgb(140, 140, 140);
                    color: $white;
                    border-radius: 0.25rem;
                    padding: 10px 30px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    font-family: $primary-font;
                    font-size: 13px;
                }
            }
        }

        .form-container {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .search-option-section {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;
                border-radius: 0.25rem;
    
                .search-text {
                    color: $textfield-text-color;
                    font-family: $primary-font;
                    font-weight: normal;
                }
    
                .options {
                    width: 100%;
                    background-color: $placeholder-text-color;
                    padding: 15px 20px;
                    color: gray;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    border-radius: 0.25rem;
    
                    .option {
                        width: 100%;
                        color: gray;
                        padding: 5px 10px;
                    }
                }
            }

            .input {

                .add-btn {
                    background-color: $black;
                    color: $white;
                    width: 100%;
                    border-radius: 0.25rem;
                    padding: 14px 30px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    font-family: $primary-font;
                    font-size: 13px;
                }
            }
        }

        .checkbox-section {

            .checkbox-section-one {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-bottom: 20px;

                .input {

                    .checkbox {
                        accent-color: $placeholder-text-color;
                    }
                }
            }
        }

        .line {
            width: 100%;
            opacity: 0.5;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid rgb(205, 205, 205);
        }
    }
}        