@import '../../styles/breakpoints';
@import '../../styles/colors';
@import '../../styles/fonts';

.about-section {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: $black;

    @media screen and (max-width: $mobile) {
        padding-top: 40px;
    }

    .about-section-inner {
        margin: 0 auto;
        min-height: 100vh;
        max-width: 1000px;
    }
}