@import '../../styles/breakpoints';
@import '../../styles/colors';
@import '../../styles/fonts';

.dashboard {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
}