$black: #000000;
$white: #ffffff;
$themeColor: #359AE3;
$themeColorHover: #71afdb;
$text-field-color: #E7E7E7;
$placeholder-text-color: #f0f0f0;
$textfield-text-color: #aaaaaa;
$featureColor: #313131;
$bluwishWhite: #F3F6FC;