@import '../../styles/breakpoints';
@import '../../styles/colors';
@import '../../styles/fonts';

.airfields {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    margin-bottom: 20px;

    &::-webkit-scrollbar-track {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color: red;
    }

    .search-section {
        width: 100%;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 30px;
        gap: 20px;

        .searchbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            gap: 20px;
            background-color: $placeholder-text-color;
            padding-right: 20px;
            border-radius: 0.25rem;

            .search-input {
                width: 100%;
                background-color: $placeholder-text-color;
                outline: none;
                border: none;
                border-radius: 0.25rem;
                padding: 15px 20px;
                font-family: $primary-font;
                font-size: 12px;
                color: $textfield-text-color;
            }

            .search-logo {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        .search-option-section {
            width: 20%;
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 5px;
            border-radius: 0.25rem;

            .search-text {
                color: $textfield-text-color;
                font-family: $primary-font;
                font-weight: normal;
            }

            .options {
                width: 100%;
                background-color: $placeholder-text-color;
                padding: 15px 20px;
                color: gray;
                border: none;
                outline: none;
                font-size: 12px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border-radius: 0.25rem;

                .option {
                    width: 100%;
                    color: gray;
                    padding: 5px 10px;
                }
            }
        }
    }

    .search-results {
        width: 100%;
        padding: 0 30px;

        .search-results-text {
            color: $black;
            font-family: $primary-font;
            font-size: 12px;

            .result-count {
                color: $black;
            }
        }
    }

    .airfield-table {
        width: 100%;
        max-height: 50vh;
        padding: 20px 30px 0 30px;
        
        .table-header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            border-bottom: 1.5px solid rgb(205, 205, 205);

            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $placeholder-text-color;
                padding: 15px 0;

                &:first-child {
                    border-top-left-radius: 0.25rem;
                }
                &:last-child {
                    border-top-right-radius: 0.25rem;
                }

                .header-text {
                    color: $black;
                    font-family: $primary-font;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        .table-body {
            width: 100%;
            max-height: 60vh;
            // max-height: 40vh;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .hard-line {
        width: 100%;
        opacity: 0.5;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 2px;
        border: none;
        outline: none;
        background-color: $black;
    }

    .line {
        width: 100%;
        opacity: 0.5;
        margin-bottom: 20px;        
        border: 1px solid rgb(205, 205, 205);
    }

    // report section
    .report-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .section-header {
            font-family: $primary-font;
        }

        .section-subheader {
            font-family: $primary-font;
            color: $textfield-text-color;
            font-weight: normal;
            font-size: 11px;
            margin-bottom: 15px;
        }

        .report-content-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 30px;

            .r-section {
                display: flex;
                flex-direction: column;

                .section-subheader {
                    font-family: $primary-font;
                    color: $textfield-text-color;
                    font-weight: normal;
                    font-size: 11px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
