@import '../../styles/breakpoints';
@import '../../styles/colors';
@import '../../styles/fonts';

.contact-hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/contact-pic.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 40px;

    @media screen and (max-width: $mobile) {
        min-height: 93vh;
        padding: 0 20px;
    }

    .contact-hero-inner {

        .data-container {
            max-width: 1000px;
            margin: 0 auto;

            @media screen and (max-width: $mobile) {
                margin-top: 120px;
            }

            .page-title {
                font-family: $secondary-font;
                color: $white;
                font-weight: normal;
                font-size: 20px;
                line-height: 20px;

                @media screen and (max-width: $mobile) {
                    font-size: 16px;
                }
            }
    
            .title {
                color: $white;
                font-family: $third-font;
                letter-spacing: -3px;
                font-size: 90px;
                line-height: 70px;

                @media screen and (max-width: $tablet) {
                    font-size: 70px;
                }
                @media screen and (max-width: $mobile-portrait) {
                    font-size: 50px;
                }
                @media screen and (max-width: $mobile) {
                    font-size: 60px;
                    line-height: 60px;
                }
            }
        }
    }
}